.footer{
    height: 100px;
    padding:16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:48px;
}


.social{
    display: flex;
    justify-content: center;
    gap:16px;
}

.social svg{
    width: 40px;
}