

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff
}

html{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}


body{
  background-color: #212121;
}

h1{
  font-size: 24px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
}

p{
  font-size: 14px;
}

li{
  font-size: 14px;
}

.purpleText {
  color: #9611A2;
}

.blueText {
  color: #169DE9;
}

.yellowText {
  color: #DD9F00;
}


@media (min-width: 768px) {
  .onlyMobile {
    display: none;
  }

  .desktopFlex{
    display: flex;
    justify-content: center;
    gap:32px;
  }
}